<div class="container-fluid bg-dark text-light py-5">
  <div class="container text-center">
    <h1 class="display-4 fw-bold">Hi, I'm Ali Jabran 👋</h1>
    <p class="lead mb-4">
      A Software Engineer specializing in Ruby on Rails & Next.js<br>
      Building scalable web applications with clean code.
    </p>
    <a href="#projects" class="btn btn-primary btn-lg me-2">View My Work</a>
    <a href="#contact" class="btn btn-outline-light btn-lg">Get in Touch</a>
  </div>
</div>


<%= render 'tech_stacks' %>
<%= render 'projects' %>
<%= render 'contact' %>